<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nLink">

  <xacro:macro name="addLink" params="id:='0' h:=0.3 r:=0.1 m:=1.0">
    <link name="${id}">
    <visual>
      <origin xyz="0 0 ${h/2.0}" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${h}" radius="${r}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 ${h/2.0}" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${h}" radius="${r}"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 ${h/2.0}"/>
      <mass value="${m}"/>
      <inertia ixx="${1/12 * m * (3 * r * r + h * h)}" ixy="0.0" ixz="0.0" iyy="${1/12*m*(3*r*r+h*h)}" iyz="0.0" izz="${1/2*m*r*r}"/>
    </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="addJoint" params="id:='0' type:='revolute' parent:='0' child:='1' axis:='1 0 0' rpy:='0 0 0' xyz:='0 0 0'">
    <joint name="joint${id}" type="${type}">
      <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
      <origin rpy="${rpy}" xyz="${xyz}"/>
      <parent link="${parent}"/>
      <child link="${child}"/>
      <axis xyz="${axis}"/>
      <limit effort="87" lower="${-0.5*pi}" upper="${0.5*pi}" velocity="2.0"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>
  </xacro:macro>

  <link name="world"/>
  <xacro:addLink id="base" h='0.1' r='0.3'/>
  <xacro:addLink id="link1" h='0.3' r='0.1'/>
  <xacro:addLink id="link2" h='0.1' r='0.1'/>
  <xacro:addLink id="link3" h='0.3' r='0.1'/>
  <xacro:addLink id="link4" h='0.1' r='0.1'/>
  <xacro:addLink id="link5" h='0.3' r='0.1'/>
  <xacro:addLink id="link6" h='0.1' r='0.1'/>
  <xacro:addLink id="link7" h='0.3' r='0.1'/>
  <xacro:addLink id="linkee" h='0.3' r='0.01'/>
  <xacro:addJoint id="worldBase" type="fixed" parent="world" child="base" axis="1 0 0" xyz="0 0 0.0"/>
  <xacro:addJoint id="joint0" parent="base" child="link1" axis="0 0 1" xyz="0 0 0.1"/>
  <xacro:addJoint id="joint1" parent="link1" child="link2" axis="0 0 1" xyz="-0.05 0 0.40" rpy='0 ${pi/2} 0'/>
  <xacro:addJoint id="joint2" parent="link2" child="link3" axis="0 0 1" xyz="-0.10 0 0.05" rpy='0 ${-pi/2} 0'/>
  <xacro:addJoint id="joint3" parent="link3" child="link4" axis="0 0 1" xyz="-0.05 0 0.40" rpy='0 ${pi/2} 0'/>
  <xacro:addJoint id="joint4" parent="link4" child="link5" axis="0 0 1" xyz="-0.10 0 0.05" rpy='0 ${-pi/2} 0'/>
  <xacro:addJoint id="joint5" parent="link5" child="link6" axis="0 0 1" xyz="-0.05 0 0.40" rpy='0 ${pi/2} 0'/>
  <xacro:addJoint id="joint6" parent="link6" child="link7" axis="0 0 1" xyz="-0.10 0 0.05" rpy='0 ${-pi/2} 0'/>
  <xacro:addJoint id="jointee" type="fixed" parent="link7" child="linkee" axis="0 0 1" xyz="-0.00 0 0.20" rpy='0 0 0'/>
</robot>
