# This is a basic workflow to help you get started with Actions

name: Publishing package to pypi.

# Controls when the workflow will run
on: 
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.15
        with:
          python_version : "3.8.10"
          pypi_token: ${{ secrets.PYPI_TOKEN }}
